<div class="list-group" style="width:600px">
	<a href class="list-group-item"
	   ng-repeat="career in c.careers"
	   ui-sref="careersDetail({career_id:career.id})"><span class="badge">{{career.employment_type}}</span>{{career.job_title}}</a>
</div>