<a ui-sref="careers"><i class="fa fa-angle-double-left"></i> back at Motormate's job listings</a><br>

<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ut possimus, quaerat ex dolor et perspiciatis a earum numquam repellendus. Officia excepturi aspernatur totam accusamus obcaecati illo dolorum fugit eum.</p> -->

<!-- <h5>Responsibilities</h5>

<ul>
	<li>sad</li>
	<li>das</li>
	<li>das</li>
	<li>das</li>
	<li>das</li>
</ul> -->

<h4>{{c.careerTitle}}</h4>

<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ut possimus, quaerat ex dolor et perspiciatis a earum numquam repellendus. Officia excepturi aspernatur totam accusamus obcaecati illo dolorum fugit eum.</p> -->

<h5 style="font-weight:bold;font-size:16px;">Qualifications</h5>

<div ng-bind-html="c.careerDtl" style="margin-bottom:20px"></div>

<!-- <h5>Additional Information</h5>

<ul>
	<li>All applicants must submit a resume AND cover letter.</li>
</ul> -->

<!-- <a href="#" class="btn btn-primary">apply for this position</a><br> -->

<!-- <a ui-sref="careers">opening at mgc</a> -->

<h5 style="font-weight:bold;font-size:16px">Submit your applications to:</h5>
<address>
	<strong>Human Resource Department</strong><br>
	Motormate Group of Companies<br>
	Quirino-Hayes St., Cagayan de Oro City<br>
	857-1488/724731<br>
	<a href>hrd@motormategroup.com</a>
</address>

<a ui-sref="careers"><i class="fa fa-angle-double-left"></i> back at Motormate's job listings</a><br>