@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Sarpanch:400,800);
@font-face {
  font-family: 'bebasregular';
  src: url("../fonts/bebas/BEBAS___-webfont.eot");
  src: url("../fonts/bebas/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas/BEBAS___-webfont.woff") format("woff"), url("../fonts/bebas/BEBAS___-webfont.ttf") format("truetype"), url("../fonts/bebas/BEBAS___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=fonts.css.map */
