@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Sarpanch:400,800);
@font-face {
  font-family: 'bebasregular';
  src: url("../fonts/bebas/BEBAS___-webfont.eot");
  src: url("../fonts/bebas/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas/BEBAS___-webfont.woff") format("woff"), url("../fonts/bebas/BEBAS___-webfont.ttf") format("truetype"), url("../fonts/bebas/BEBAS___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#wrap_login {
  border: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10%;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); }
  #wrap_login header {
    font: 700 32px 'Oswald', sans-serif;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px; }

/*# sourceMappingURL=login.css.map */
