/**
 * Media Queries
 *
 */
@media (min-width: 1200px) {
  .container {
    width: 960px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #header .brand_name {
    font-size: 65px !important;
    padding-top: 20px !important;
    margin-left: 10px !important; }
    #header .brand_name small {
      font-size: 35px !important; } }
@media (min-width: 480px) and (max-width: 767px) {
  #header {
    border: 1px solid red; } }

/*# sourceMappingURL=media-queries.css.map */
