/*
 * Author: jrran90
 */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Sarpanch:400,800);
@font-face {
  font-family: 'bebasregular';
  src: url("../fonts/bebas/BEBAS___-webfont.eot");
  src: url("../fonts/bebas/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas/BEBAS___-webfont.woff") format("woff"), url("../fonts/bebas/BEBAS___-webfont.ttf") format("truetype"), url("../fonts/bebas/BEBAS___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * Media Queries
 *
 */
@media (min-width: 1200px) {
  .container {
    width: 960px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #header .brand_name {
    font-size: 65px !important;
    padding-top: 20px !important;
    margin-left: 10px !important; }
    #header .brand_name small {
      font-size: 35px !important; } }
@media (min-width: 480px) and (max-width: 767px) {
  #header {
    border: 1px solid red; } }
/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
/*.ui-view-container {
  position: relative;
  min-height: 300px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}*/
/* Reset Value */
/**
 * FONTS
 */
/**
 * Reset Bootstrap
 */
ul.list-inline li {
  padding-right: 0;
  padding-left: 0; }

/**
 * General Structure
 */
body {
  background: url(../img/bg.jpg) 0 0 no-repeat fixed;
  background-size: cover; }

a:hover {
  text-decoration: none !important; }

ul {
  margin: 0 !important; }

.j_menu {
  background: rgba(255, 255, 255, 0.75);
  /*background: -moz-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,168,168,1)), color-stop(50%, rgba(94,94,94,.7)), color-stop(51%, rgba(33,33,33,.7)), color-stop(100%, rgba(79,79,79,.5)));
  background: -webkit-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
  background: -o-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
  background: -ms-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
  background: linear-gradient(to bottom, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#4f4f4f', GradientType=0 );*/
  border-style: solid;
  border-color: #333 #000 #000;
  border-width: 0 1px 5px 0; }
  .j_menu li {
    border-right: 1px solid #ccc; }
    .j_menu li:first-child, .j_menu li:last-child {
      border: 0; }
  .j_menu a {
    color: #000;
    display: block;
    padding: 15px 25px;
    font: 700 18px 'Oswald', sans-serif;
    text-transform: uppercase;
    text-height: 20px;
    transition: .2s; }
    .j_menu a:hover, .j_menu a.active {
      color: #fff;
      background: #ca0000; }
    .j_menu a:hover {
      text-decoration: none;
      color: #fff; }

/**
 * Header Container
 */
#header .brand_container {
  height: 150px;
  overflow: hidden; }
  #header .brand_container .brand_logo {
    width: 150px; }
  #header .brand_container .brand_name {
    margin: 0;
    line-height: 150px;
    font-size: 110px;
    font-family: 'Sarpanch', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #CA0000;
    text-align: center; }
    #header .brand_container .brand_name span {
      vertical-align: middle;
      display: inline-block;
      line-height: 0.38; }
      #header .brand_container .brand_name span small {
        color: #FD0305;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 5px; }
#header .lst_affiliates {
  margin-bottom: 10px; }
  #header .lst_affiliates li {
    margin-right: 10px; }
#header #main_menu {
  overflow: hidden; }
  #header #main_menu ul {
    list-style: none;
    padding: 0; }
    #header #main_menu ul li {
      float: left; }
    #header #main_menu ul a.menu_home {
      color: #fff;
      background: #000; }
#header .social-media a {
  padding-left: 10px;
  padding-right: 10px; }
#header .social-media a:hover {
  background: none; }

/**
 * Slider
 */
#slider_main {
  height: 450px;
  border-top: 0;
  background: #000; }
  #slider_main .carousel-caption {
    background: rgba(0, 0, 0, 0.85); }

/**
 * Pages
 */
#main {
  /* product page */
  /**
   * News & Events
   *
   */ }
  #main .j-page-container {
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 30px;
    color: #fff;
    /*p {
    	color: #000;
    }*/ }
    #main .j-page-container h2, #main .j-page-container h4 {
      font-family: 'Oswald', sans-serif;
      font-weight: 700; }
    #main .j-page-container h2 {
      border-bottom: 1px solid #ccc;
      color: #fff; }
      #main .j-page-container h2 > small {
        color: red; }
    #main .j-page-container h4 {
      font-size: 24px; }
  #main .lst_services li {
    margin-right: 5px;
    margin-bottom: 5px; }
    #main .lst_services li:last-child {
      margin-right: 0; }
    #main .lst_services li figure {
      text-align: center;
      max-width: 140px;
      position: relative;
      overflow: hidden;
      -webkit-transition: .15s linear;
      -moz-transition: .15s linear;
      -o-transition: .15s linear;
      transition: .15s linear; }
      #main .lst_services li figure:hover {
        box-shadow: 0 0 10px 2px #000;
        -webkit-transform: scale(1.08);
        /* Safari and Chrome */
        -moz-transform: scale(1.08);
        /* Firefox */
        -ms-transform: scale(1.08);
        /* IE 9 */
        -o-transform: scale(1.08);
        /* Opera */
        transform: scale(1.08);
        z-index: 999; }
      #main .lst_services li figure:before {
        content: '';
        background: rgba(0, 0, 0, 0.45);
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-transition: .2s linear;
        -moz-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear; }
      #main .lst_services li figure:hover:before {
        opacity: 0; }
      #main .lst_services li figure img {
        width: 140px;
        height: 140px;
        object-fit: cover; }
      #main .lst_services li figure figcaption {
        color: #fff;
        background: #000;
        width: 100%;
        height: 0;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        bottom: 0; }
      #main .lst_services li figure:hover figcaption {
        height: auto;
        padding: 5px; }
  #main .j_subpage_menu {
    margin-bottom: 5px; }
    #main .j_subpage_menu > ul {
      display: inline-block; }
      #main .j_subpage_menu > ul a {
        background: #000A33;
        border-radius: 0;
        padding: 10px 30px;
        transition: .4s;
        font: normal 18px 'Oswald', sans-serif; }
        #main .j_subpage_menu > ul a:hover {
          background: #347ab7;
          color: #000; }
      #main .j_subpage_menu > ul li.active {
        background: #347ab7;
        color: #fff; }
        #main .j_subpage_menu > ul li.active a {
          background: #347ab7;
          color: #fff; }
  #main .page-news-events h4 a, #main .page-news-events h6 {
    color: #eee; }
  #main .page-news-events p {
    color: #aaa; }

/**
 * Category Menu
 */
#menu_category_prod {
  padding-top: 20px;
  padding-bottom: 20px;
  /*background: #0026C3;*/
  background: #000f4a;
  background: -moz-linear-gradient(top, #000f4a 0%, #0026c3 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #000f4a), color-stop(100%, #0026c3));
  background: -webkit-linear-gradient(top, #000f4a 0%, #0026c3 100%);
  background: -o-linear-gradient(top, #000f4a 0%, #0026c3 100%);
  background: -ms-linear-gradient(top, #000f4a 0%, #0026c3 100%);
  background: linear-gradient(to bottom, #000f4a 0%, #0026c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f4a', endColorstr='#0026c3', GradientType=0 );
  border-top: 10px solid #000A33; }
  #menu_category_prod .j_menu_cat {
    padding-bottom: 5px;
    /*margin-bottom: 5px;*/ }
    #menu_category_prod .j_menu_cat > ul {
      display: inline-block; }
      #menu_category_prod .j_menu_cat > ul a {
        background: #000A33;
        border-radius: 0;
        padding: 10px 30px;
        transition: .4s;
        font: normal 18px 'Oswald', sans-serif; }
        #menu_category_prod .j_menu_cat > ul a:hover {
          background: #347ab7;
          color: #000; }
      #menu_category_prod .j_menu_cat > ul li.active {
        background: #347ab7;
        color: #fff; }
        #menu_category_prod .j_menu_cat > ul li.active a {
          background: #347ab7;
          color: #fff; }
  #menu_category_prod .j_menu_cat_content ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    display: inline-block; }
    #menu_category_prod .j_menu_cat_content ul figure {
      text-align: center;
      max-width: 140px;
      position: relative;
      overflow: hidden;
      -webkit-transition: .15s linear;
      -moz-transition: .15s linear;
      -o-transition: .15s linear;
      transition: .15s linear; }
      #menu_category_prod .j_menu_cat_content ul figure:hover {
        box-shadow: 0 0 10px 2px #000;
        -webkit-transform: scale(1.08);
        /* Safari and Chrome */
        -moz-transform: scale(1.08);
        /* Firefox */
        -ms-transform: scale(1.08);
        /* IE 9 */
        -o-transform: scale(1.08);
        /* Opera */
        transform: scale(1.08);
        z-index: 999; }
      #menu_category_prod .j_menu_cat_content ul figure:before {
        content: '';
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-transition: .2s linear;
        -moz-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear; }
      #menu_category_prod .j_menu_cat_content ul figure:hover:before {
        opacity: 0; }
      #menu_category_prod .j_menu_cat_content ul figure img {
        width: 140px;
        height: 140px;
        object-fit: cover; }
      #menu_category_prod .j_menu_cat_content ul figure figcaption {
        color: #fff;
        background: #000;
        width: 100%;
        height: 0;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        bottom: 0; }
      #menu_category_prod .j_menu_cat_content ul figure:hover figcaption {
        height: auto;
        padding: 5px; }
    #menu_category_prod .j_menu_cat_content ul li {
      border: 6px solid #000;
      display: inline-block;
      background: #fff;
      margin-right: 5px;
      margin-bottom: 5px;
      position: relative;
      transition: .2s;
      /*&:before {
      	content: '';
      	width: 100%; height:100%;
      	background: #333;
      	position: absolute;
      	opacity: .25;
      	transition: .2s;
      }
      &:hover:before {
      	width: auto;
      	height: auto;
      }*/ }
      #menu_category_prod .j_menu_cat_content ul li:last-child {
        margin-right: 0;
        margin-bottom: 5px; }
      #menu_category_prod .j_menu_cat_content ul li:hover {
        border-color: #333; }
      #menu_category_prod .j_menu_cat_content ul li img {
        width: 150px;
        height: 150px;
        object-fit: cover; }
  #menu_category_prod .j_menu_cat_content a.btn-view-all {
    background: #347ab7;
    border: 0;
    border-radius: 0;
    width: 250px;
    padding: 10px 20px;
    font: normal 16px 'Oswald', sans-serif;
    transition: .8s; }
    #menu_category_prod .j_menu_cat_content a.btn-view-all:hover {
      color: #000;
      border: 0; }

/*#modalProduct {
	.j-lightbox-image-content {
		position:absolute; bottom:30px; left:0;
		padding: 0 10px;

		h3 {
			font-size:40px; color:#000;
			font-weight: bold !important;
			font-family: 'Oswald', sans-serif;
			text-shadow: 1px 1px 0 #fff;
		}
	}
}*/
#lst_events {
  position: relative;
  background: #fff;
  margin-bottom: 10px;
  padding-bottom: 35px;
  box-shadow: 0 2px 10px 0 #000; }
  #lst_events h2, #lst_events h3 {
    font-family: 'Oswald', sans-serif;
    margin: 0; }
  #lst_events > h2 {
    padding: 5px 0 10px;
    background: #A90000;
    line-height: normal;
    margin-bottom: 30px;
    border-top: 10px solid #470000;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3); }
    #lst_events > h2 small {
      display: block;
      font-size: 50%; }
  #lst_events h3 {
    margin-bottom: 10px; }
  #lst_events .post-wrap-content {
    border-right: 1px dashed #aaa; }
    #lst_events .post-wrap-content:last-child {
      border: 0; }
    #lst_events .post-wrap-content:hover .post-content h3 a {
      padding-left: 25px; }
    #lst_events .post-wrap-content .post-content h3 a {
      color: #000;
      background: #ccc;
      padding-left: 10px;
      padding-right: 10px;
      -webkit-transition: .15s;
      -moz-transition: .15s;
      -o-transition: .15s;
      transition: .15s; }

#footer .container {
  padding: 10px 0;
  color: #eee; }

/*
 * override the default CSS as an example
 */
#loading-bar .bar {
  background: #CA0000;
  height: 3px; }

#loading-bar-spinner .spinner-icon {
  border-top-color: #CA0000;
  border-left-color: #CA0000;
  width: 100px;
  height: 100px; }

#loading-bar .peg {
  -webkit-box-shadow: #CA0000 1px 0 6px 1px;
  -moz-box-shadow: #CA0000 1px 0 6px 1px;
  -ms-box-shadow: #CA0000 1px 0 6px 1px;
  box-shadow: #CA0000 1px 0 6px 1px; }

/*# sourceMappingURL=style.css.map */
