<h2 class="page-header">PRODUCTS</h2>

<nav class="j_subpage_menu j_menu_cat">
	<ul class="nav nav-pills">
		<li role="presentation" ui-sref-active="active"><a ui-sref="products({category:'new-arrival'})">New Arrival</a></li>
		<li role="presentation" ui-sref-active="active"><a ui-sref="products({category:'best-seller'})">Best Seller</a></li>
		<li role="presentation" ui-sref-active="active"><a ui-sref="products({category:'mgc-product'})">MGC Products</a></li>
	</ul>
</nav>


<ul class="list-inline lst_services">
	<li ng-repeat="img in prod.images">
		<a href ng-click="prod.openLightboxModal($index)">
			<figure>
				<img ng-src="/assets/img/products/thumbnails/{{img.image_thumb}}" alt="">
				<figcaption>{{img.name}}</figcaption>
			</figure>
		</a>
	</li>
</ul>