<h1 class="page-header">Users</h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>E-mail</th>
			<th>Display Name</th>
			<th>Created At</th>
			<th>Updated At</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="user in u.users" ng-class="{success:user.is_admin==1}">
			<td>{{user.email}}</td>
			<td>{{user.display_name}}</td>
			<td>{{user.created_at}}</td>
			<td>{{user.updated_at}}</td>
		</tr>
	</tbody>
</table>