<a ui-sref="post.add" class="btn btn-primary">Add New Post</a>

<table class="table table-striped table-hover" id="lst_post">
	<thead>
		<tr>
			<th>Title</th>
			<th>Created At</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="post in p.posts">
			<td>{{post.title}}
				<ul class="list-inline">
					<li><a ui-sref="post.edit({id:post.id})"> Edit</a></li>
					<li><a href ng-click="p.rmPost($index,post.id)">Remove</a></li>
				</ul>
			</td>
			<td>{{post.created_at}}</td>
		</tr>
	</tbody>
</table>