<div class="modal-body"
     ng-swipe-left="Lightbox.nextImage()"
     ng-swipe-right="Lightbox.prevImage()">

    <div class="lightbox-nav">
        <button class="close" aria-hidden="true" ng-click="$dismiss()">×</button>

        <div class="btn-group" ng-if="Lightbox.images.length > 1">
            <a class="btn btn-xs btn-default" ng-click="Lightbox.prevImage()">‹ Previous</a>
            <a class="btn btn-xs btn-default" ng-click="Lightbox.nextImage()">Next ›</a>
        </div>
    </div>

    <div class="lightbox-image-container">

        <div class="lightbox-image-caption">
            <span>{{Lightbox.imageCaption}}</span>
        </div>

        <img ng-if="!Lightbox.isVideo(Lightbox.image)" lightbox-src="{{Lightbox.imageUrl}}">

        <div style="position:absolute;bottom:0;color:#000;background:rgba(255,255,255,.75);width:100%;text-align:left;padding:5px"
             ng-if="Lightbox.images[Lightbox.index].description" ng-bind-html="Lightbox.images[Lightbox.index].description">
        </div>

    </div>

</div>