@import 'fonts';

#wrap_login {
	border:1px solid #ccc;
	padding-top:10px;
	margin-top:10%;	
	border-radius: 3px;
	box-shadow: 0 3px 8px rgba(0,0,0,.3);

	header {
		font: 700 32px 'Oswald', sans-serif;
		text-align:center;
		border-bottom:1px solid #ccc;
		margin-bottom: 10px;
	}
}
