/*
 * Author: jrran90
 */
@import 'fonts';
@import 'media-queries';
@import 'animate';


/* Reset Value */
$r_margin: 0;


/**
 * FONTS
 */
$font_bebas: "bebasregular";


/**
 * Reset Bootstrap
 */
ul.list-inline {
	li {
		padding-right: 0;
		padding-left: 0;
	}
}

/**
 * General Structure
 */
body {
	//background: url(../img/bg.jpg) 0 -140px no-repeat fixed;
	background: url(../img/bg.jpg) 0 0 no-repeat fixed;
	background-size: cover;
}


a:hover {
	text-decoration:none !important;
}


ul {
	margin: $r_margin !important;
}

.j_menu {
	background: rgba(255,255,255,.75);
	//background: rgba(168,168,168,.8);
	/*background: -moz-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,168,168,1)), color-stop(50%, rgba(94,94,94,.7)), color-stop(51%, rgba(33,33,33,.7)), color-stop(100%, rgba(79,79,79,.5)));
	background: -webkit-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
	background: -o-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
	background: -ms-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
	background: linear-gradient(to bottom, rgba(168,168,168,1) 0%, rgba(94,94,94,.7) 50%, rgba(33,33,33,.7) 51%, rgba(79,79,79,.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#4f4f4f', GradientType=0 );*/

	border-style: solid;
	border-color: #333 #000 #000;
	border-width: 0 1px 5px 0;

	// border-bottom: 5px solid #000;

	li {
		border-right: 1px solid #ccc;

		&:first-child, &:last-child { border: 0; }
	}

	a {
		color: #000;
		display: block;
		padding:15px 25px;

		font: 700 18px 'Oswald', sans-serif;
		//text-shadow: 0 1px 0 rgba(255,255,255,.5);

		text-transform: uppercase;
		text-height:20px;
		transition: .2s;

		&:hover, &.active {
			color: #fff;
			background: rgba(202,0,0,1);
		}

		&:hover {
			text-decoration: none;
			color: #fff;
			//text-shadow: 0 1px 0 rgba(0,0,0,.5);
		}
	}

}


/**
 * Header Container
 */
#header {

	.brand_container {
		height:150px;
		overflow: hidden;

		.brand_logo {
			width:150px;
		}

		.brand_name {
			margin: $r_margin;
			//margin-left: 50px;
			line-height:150px;

			font-size: 110px;
			font-family: 'Sarpanch', sans-serif;
			font-weight: 800;
			text-transform: uppercase;
			color: #CA0000;
			text-align: center;

			//text-shadow: 0 1px 0 #fff;

			span {
				vertical-align: middle;
				display: inline-block;
				line-height: 0.38;

				small {
					color: #FD0305;
					font-size:40px;
					font-weight:bold;
					letter-spacing: 5px;
					//word-spacing: 4px;
				}
			}
		}
	}

	.lst_affiliates {
		margin-bottom: 10px;

		li {
			margin-right:10px;
		}
	}

	#main_menu {
		overflow:hidden;

		ul {
			list-style: none;
			padding: 0;

			li {
				float: left;
			}

			a.menu_home {
				color: #fff;
				background: #000;
			}

		}

	}

	.social-media {
		a {
			padding-left:10px;
			padding-right:10px;
		}
		a:hover {
			background: none;
		}
	}

}



/**
 * Slider
 */
#slider_main {
	height: 450px;
	border-top: 0;
	background:#000;

	.carousel-caption {
		background:rgba(0,0,0,.85);
	}
}





/**
 * Pages
 */
#main {

	.j-page-container {
		background: rgba(0,0,0,.5);
		padding-bottom: 30px;
		color:#fff;

		h2, h4 {
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
		}

		h2 {
			border-bottom: 1px solid #ccc;
			color: #fff;

			> small {
				color: red;
			}
		}

		h4 {
			font-size: 24px;
		}

		/*p {
			color: #000;
		}*/
	}


	.lst_services {
		//margin: 0 auto;

		li {
			margin-right: 5px;
			margin-bottom: 5px;

			&:last-child {
				margin-right: 0;
			}

			figure {
				text-align: center;
				max-width: 140px;
				position: relative;
				overflow: hidden;
				-webkit-transition: .15s linear;
				   -moz-transition: .15s linear;
				     -o-transition: .15s linear;
					    transition: .15s linear;

				&:hover {
					box-shadow: 0 0 10px 2px #000;
					-webkit-transform:scale(1.08); /* Safari and Chrome */
				       -moz-transform:scale(1.08); /* Firefox */
				        -ms-transform:scale(1.08); /* IE 9 */
				    	 -o-transform:scale(1.08); /* Opera */
				    		transform:scale(1.08);
				    z-index:999;
				}

				&:before {
					content: '';
						background: rgba(0,0,0,.45);
					width: 100%; height: 100%;
					position: absolute;
					-webkit-transition: .2s linear;
					   -moz-transition: .2s linear;
					     -o-transition: .2s linear;
						    transition: .2s linear;

				}
				&:hover:before {
					opacity: 0;
				}


				img {
					width: 140px; height: 140px;
					object-fit: cover;
				}

				figcaption {
					color: #fff;
					background: #000;
					width: 100%; height: 0;
					font-weight: bold; font-size: 12px;
					position: absolute; bottom:0;
				}
				&:hover figcaption{
					height: auto;
					padding: 5px;
				}

			}

		}
	}


	/* product page */
	.j_subpage_menu {

		margin-bottom:5px;

		> ul {
			display:inline-block;

			a {
				background: #000A33;
				border-radius:0;
				padding: 10px 30px;
				transition: .4s;
				//border-bottom: 2px solid red;
				font: normal 18px 'Oswald', sans-serif;

				&:hover {
					background: hsla(208,56%,46%,1);
					color: #000;
				}
			}			

			li.active {
				background: hsla(208,56%,46%,1);
				color: #fff;

				a {
					background: hsla(208,56%,46%,1);
					color: #fff;
				}
			}

		}

	}

	/**
	 * News & Events
	 *
	 */
	.page-news-events {

		h4 a, h6 {
			color: #eee;
		}

		p {
			color: #aaa;
		}
	}

}



/**
 * Category Menu
 */
#menu_category_prod {

	padding-top: 20px;
	padding-bottom: 20px;
	/*background: #0026C3;*/
	background: rgba(0,15,74,1);
	background: -moz-linear-gradient(top, rgba(0,15,74,1) 0%, rgba(0,38,195,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,15,74,1)), color-stop(100%, rgba(0,38,195,1)));
	background: -webkit-linear-gradient(top, rgba(0,15,74,1) 0%, rgba(0,38,195,1) 100%);
	background: -o-linear-gradient(top, rgba(0,15,74,1) 0%, rgba(0,38,195,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,15,74,1) 0%, rgba(0,38,195,1) 100%);
	background: linear-gradient(to bottom, rgba(0,15,74,1) 0%, rgba(0,38,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f4a', endColorstr='#0026c3', GradientType=0 );

	border-top:10px solid #000A33;

	.j_menu_cat {
		//padding-top: 10px;
		padding-bottom: 5px;
		/*margin-bottom: 5px;*/

		> ul {
			display:inline-block;

			a {
				background: #000A33;
				border-radius:0;
				padding: 10px 30px;
				transition: .4s;
				//border-bottom: 2px solid red;
				font: normal 18px 'Oswald', sans-serif;

				&:hover {
					background: hsla(208,56%,46%,1);
					color: #000;
				}
			}			

			li.active {
				background: hsla(208,56%,46%,1);
				color: #fff;

				a {
					background: hsla(208,56%,46%,1);
					color: #fff;
				}
			}

		}

	}


	.j_menu_cat_content	{
		ul{
			list-style: none;
			padding: 0;
			overflow: hidden;
			display: inline-block;



			figure {
				text-align: center;
				max-width: 140px;
				position: relative;
				overflow: hidden;
					-webkit-transition: .15s linear;
					   -moz-transition: .15s linear;
					     -o-transition: .15s linear;
						    transition: .15s linear;				

				&:hover {
					box-shadow: 0 0 10px 2px #000;
					-webkit-transform:scale(1.08); /* Safari and Chrome */
				       -moz-transform:scale(1.08); /* Firefox */
				        -ms-transform:scale(1.08); /* IE 9 */
				    	 -o-transform:scale(1.08); /* Opera */
				    		transform:scale(1.08);
				    z-index:999;
				}

				&:before {
					content: '';
					//background: rgba(52,122,183,.65);
					background: rgba(0,0,0,.5);
					width: 100%; height: 100%;
					position: absolute;
					-webkit-transition: .2s linear;
					   -moz-transition: .2s linear;
					     -o-transition: .2s linear;
						    transition: .2s linear;

				}
				&:hover:before {
					opacity: 0;
				}


				img {
					width: 140px; height: 140px;
					object-fit: cover;
				}

				figcaption {
					color: #fff;
					background: #000;
					width: 100%; height: 0;
					font-weight: bold; font-size: 12px;
					position: absolute; bottom:0;
				}
				&:hover figcaption{
					height: auto;
					padding: 5px;
				}

			}




			li {
				border: 6px solid #000;
				display: inline-block;
				background: #fff;
				
				margin-right:5px;
				margin-bottom: 5px;

				position: relative;

				//overflow:hidden; fixes overlapping elements

				transition: .2s;

				/*&:before {
					content: '';
					width: 100%; height:100%;
					background: #333;
					position: absolute;
					opacity: .25;
					transition: .2s;
				}
				&:hover:before {
					width: auto;
					height: auto;
				}*/

				&:last-child {margin-right:0;margin-bottom:5px;}

				&:hover {
					border-color: #333;
				}

				img {
					width: 150px; height: 150px;
					object-fit: cover;
				}
			}
		}

		a.btn-view-all {
			background: hsla(208,56%,46%,1);
			border:0;
			border-radius:0;
			width: 250px;
			padding: 10px 20px;
			font: normal 16px 'Oswald', sans-serif;
			transition: .8s;

			&:hover {
				color: #000;
				border:0;
				//width: 300px;
			}
		}
	}
}


/*#modalProduct {
	.j-lightbox-image-content {
		position:absolute; bottom:30px; left:0;
		padding: 0 10px;

		h3 {
			font-size:40px; color:#000;
			font-weight: bold !important;
			font-family: 'Oswald', sans-serif;
			text-shadow: 1px 1px 0 #fff;
		}
	}
}*/



#lst_events {

	position: relative;

	background: #fff;
	margin-bottom: 10px;
	//padding: 20px 0 35px;
	padding-bottom: 35px;
	box-shadow: 0 2px 10px 0 #000;

	h2, h3 {
		font-family: 'Oswald', sans-serif;
		margin:0;
	}

	> h2 {
		padding: 5px 0 10px;
		background: #A90000;
		line-height:normal;
		margin-bottom:30px;
		border-top: 10px solid #470000;
		text-transform: uppercase;
		font-weight: 700;
		color: #fff;
		text-shadow: 0 2px 0 rgba(0,0,0,.3);

		small {
			display: block;
			font-size: 50%;
		}
	}

	h3 {
		margin-bottom: 10px;
	}

	.post-wrap-content {

		border-right: 1px dashed #aaa;

		&:last-child {
			border: 0;
		}

		&:hover .post-content h3 a {
			padding-left: 25px;
		}

		.post-content h3 a {
			color: #000;
			background: #ccc;
			padding-left: 10px;
			padding-right: 10px;

			-webkit-transition: .15s;
			   -moz-transition: .15s;
			     -o-transition: .15s;
				    transition: .15s;			
		}

	}

}


#footer {
	.container {
		padding: 10px 0;
		color: #eee;
	}
}



/*
 * override the default CSS as an example
 */

#loading-bar .bar {
  background: #CA0000;
  height: 3px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #CA0000;
  border-left-color: #CA0000;
  width: 100px; height: 100px; // adjusted the size of the spinner
}
#loading-bar .peg {
  -webkit-box-shadow: #CA0000 1px 0 6px 1px;
   	 -moz-box-shadow: #CA0000 1px 0 6px 1px;
   	  -ms-box-shadow: #CA0000 1px 0 6px 1px;
  		  box-shadow: #CA0000 1px 0 6px 1px;
}
